.jumbotron {
	background-color: Black;
	color: White;
	margin-top: 50px;
}
.btn{
	color:white;
}
	
.footer {
	background-color: gray;
	padding: 10px 10px 0 10px;
	background-color: black;
	margin-bottom: 0px;
	margin-top: 20px;
	color: white;
	
}

.card-juegos {
	flex: 1 200px;
	padding: 2px 5px 2px 2px;
	margin-top: 10px;
}

.btn-reserve {
	width: 100%;
	border-radius: 0px;
	
}

.footer-address-icon {
	padding-right: 10px;
	
}

.click-icon {
	padding-right: 10px;
	
}

.tab-content {
	padding-top: 10px;

}

.btn-outline-success {
	color: black;
}