@Black: #111211;
@Green: #bcd1c4;
@Gray: #09090a;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.pad(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
  padding-left: @left;
  padding-right: @right;
  padding-top: @top;
  padding-bottom: @bottom; 
}

.jumbotron {
  background-color: @Black;
  color: White;
  .margenes(50px, 5px);
}

.btn {
  color: white; 
}

.footer {
  background-color: @Gray;
  .pad(10px, 10px, 0px, 10px);
  .margenes(20px, 0px);
  color: white; 
}

.card-juegos {
  background-color: @Green;
  flex: 1 200px;
  .pad(2px, 5px, 2px, 5px);
  .margenes(10px, 0px); 
}

.btn-reserve {
  width: 100%;
  border-radius: 0px; 
}

.footer-address-icon {
  .pad(0px, 10px, 0px, 00px);
}

.click-icon {
  .pad(0px, 0px, 0px, 10px);
}

.tab-content {
  background-color: @Green;
  .pad(10px, 0px, 0px, 0px);
}

.btn-outline-success {
  color: @Black; 
}
