.jumbotron {
  background-color: #111211;
  color: White;
  margin-top: 50px;
  margin-bottom: 5px;
}
.btn {
  color: white;
}
.footer {
  background-color: #09090a;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: white;
}
.card-juegos {
  background-color: #bcd1c4;
  flex: 1 200px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserve {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.click-icon {
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.tab-content {
  background-color: #bcd1c4;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.btn-outline-success {
  color: #111211;
}
