$Black: #111211;
$Green: #bcd1c4;
$Gray: #09090a;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin pad($top, $right, $bottom, $left){
  padding-left: $left;
  padding-right: $right;
  padding-top: $top;
  padding-bottom: $bottom; 
}

.jumbotron {
	background-color: $Black;
	color: White;
	@include margenes(50px, 5px);
}
.btn{
	color:white;
}
	
.footer {
	background-color: $Gray;
	@include pad(10px, 10px, 0px, 10px);
	@include margenes(20px, 0px);
	color: white;
}

.card-juegos {
	background-color: $Green;
	flex: 1 200px;
	@include pad(2px, 5px, 2px, 2px);
	@include margenes(10px, 0px);
}

.btn-reserve {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	@include pad(0px, 10px, 0px, 0px);	
}

.click-icon {
	@include pad(0px, 10px, 0px, 0px);	
}

.tab-content {
	background-color: $Green;
	@include pad(10px, 0px, 0px, 0px);	
}

.btn-outline-success {
	color: $Black;
}